<h1>Vous êtes dans une chambre</h1>

<p>Votre chambre est <%=  etage %></p>

<h2>Je vais compter jusqu'à <%= etage %></h2>
<p>
    <%  for(var i = 1; i <= etage; i++) {  %>
        <%= i %>
    <% } %>
</p>