<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list</title>
</head>
<body>
    <h1>Ma todolist</h1>
    <ul>
        <% for(var i = 0; i < todoList.length; i++) {%>
            <li><a href="/delete/<%= i %>">✘</a> <%= todoList[i] %></li>
        <% } %>
    </ul>
    <form method="POST" action="/add">
        <label for="todo">Que dois je faire ? </label>
        <input type="text" name="todo" />
        <button type="submit">Valider</button>
    </form>
</body>
</html>